* {
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 180, 143);
}

h1 {
  text-align: center;
  color:  black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.game-msg {
  position: absolute;
  width: 40vw;
  top: 25%;
  height: 300px;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 194, 146,80%);
  border-radius: 20px ;
}

.btn-box {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 2em 1em;
}

.btn-item-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.btn-item-box p {
  margin: 0;
  font-size: 2rem;
}

.btn-item-count {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 2rem;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  color: green;
}

.move-count {
  font-size: 2rem;
  flex: 1;
  text-align: center;
}

.btn-restart {
  flex: 1;
}

.min-max {
  margin-top: 0.5em;
  font-size: 1rem;
}